
.vs/SageGraphUI/v15/.suo
*.dll
*.xml
*.js
*.lock
*.ide-shm
*.ide-wal
*.ide
*.pdb
*.CopyComplete
*.txt
*.cache
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.log
bin/Debug/bridge/index.html
bin/Debug/bridge/index.min.html
*.nupkg
packages/Bridge.16.0.1/content/bridge.json
packages/Bridge.Core.16.0.1/tools/install.ps1
packages/Bridge.16.0.1/LICENSE.md
packages/Bridge.16.0.1/README.md
packages/Bridge.Min.16.0.1/build/Bridge.Min.targets
packages/Bridge.Newtonsoft.Json.1.0.0/README.md
packages/Bridge.Newtonsoft.Json.1.0.0/LICENSE.md
packages/Bridge.Newtonsoft.Json.1.0.0/Newtonsoft.Json.LICENSE.md
*.exe
packages/Bridge.Min.16.0.1/README.md
packages/Bridge.Min.16.0.1/LICENSE.md
packages/Bridge.Html5.16.0.1/README.md
packages/Bridge.Html5.16.0.1/LICENSE.md
packages/Bridge.Core.16.0.1/README.md
packages/Bridge.Core.16.0.1/LICENSE.md
